*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2% 3%;
  display: block;
  box-sizing: border-box;
  /* border: black 8px solid; */
  background-color: rgba(245, 238, 197, 0.77);
}

/* h1 {
  text-align: center;
} */

.app_title h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5em;
}

.danger {
  color: red;
}

#simple_link {
  all: initial;
  color: blue;
  text-decoration: underline;
}

a:link, a:visited {
  background-color: #FF7276;
  color: black;
  border: solid black;
  padding: 0px 2px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.25s linear;
}

a:hover, a:active {
  background-color: maroon;
  color: white;
}