.danger {
  color: red;
}

a:link, a:visited {
  background-color: #FF7276;
  color: black;
  border: solid black;
  padding: 0px 2px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.25s linear;
}

a:hover, a:active {
  background-color: maroon;
  color: white;
}