<h1 class="w3-container"><%= current_user.username %>'s Profile</h1>

<% if current_user.destinations.empty? %>
  <p class="w3-panel">Your bucket is empty. <a href="/destinations/new">Fill It</a></p>
<% else %>
  <p class="w3-panel">You have <%= current_user.destinations.length %> destination(s): <a href="/destinations" class="w3-btn w3-blue">View</a></p>
<% end %>

<a href="/users/<%= current_user.id %>/edit" class="w3-btn w3-black">Edit User</a>
<a href="/users/<%= current_user.id %>/delete" class="w3-btn w3-black">Delete User</a>
<a href="/logout" class="w3-btn w3-red">Log Out</a>
