<h1><%= current_user.username %>'s Profile</h1>

<% if current_user.destinations.empty? %>
  <p>Your bucket is empty. <a href="/destinations/new">Fill It</a></p>
<% else %>
  <p>You have <%= current_user.destinations.length %> destination(s): <a href="/destinations">View</a></p>
<% end %>

<a href="/users/<%= current_user.id %>/edit">Edit User</a>
<a href="/users/<%= current_user.id %>/delete">Delete User</a>
<a href="/logout">Log Out</a>
