<nav>
    <a href="/" class="menu-bttn">Home</a>
    <a href="/destinations" class="menu-bttn">My List</a>
    <a href="/destinations/new" class="menu-bttn">New Destination</a>
    <a href="/logout" class="menu-bttn">Log Out</a>
</nav>