<h1>New Experience</h1>

<% if @errors %>
  <div class="danger">
      <ul>
        <% @errors.each do |attr, message| %>
          <li><%= "#{attr.capitalize} #{message[0]}" %></li>
        <% end %>
      </ul>
  </div>
<% end %>

<form action="/experiences" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name" placeholder="name"><br>

  <input type="submit" value="Add to Bucket">
</form>