<h1>Experience</h1>

<h3>Name: <%= @exp.name.upcase  %></h3>

<a href="/users/<%= current_user.id %>" class="footer">User Profile</a>
<a href="/experiences" class="footer">User Experiences</a>
<a href="/destinations" class="footer">User Destinations</a>
<a href="/logout" class="footer">Log Out</a>