<h1>Experience</h1>

<h3>Name: <%= @exp.name.upcase  %></h3>

<a href="/users/<%= current_user.id %>" class="bttn">User Profile</a>
<a href="/experiences" class="bttn">User Experiences</a>
<a href="/destinations" class="bttn">User Destinations</a>
<a href="/logout" class="bttn">Log Out</a>