<h1>Experience</h1>

<h3>Name: <%= @exp.name.upcase  %></h3>

<a href="/users/<%= current_user.id %>">User Profile</a>
<a href="/experiences">User Experiences</a>
<a href="/destinations">User Destinations</a>
<a href="/logout">Log Out</a>