<h1>Add something to your bucket list.</h2>

<form action="/buckets" method="post">
  <label for="event">Event: </label>
  <input type="text" name="event" placeholder="Event"><br>

  <label for="note">Note: </label>
  <input type="text" name="note" placeholder="Feel free to leave blank"><br>

  <input type="submit" value="Add to list">
</form>