 <div class="logged-in">
    <h1>Edit Destination</h2>

    <h5>Please fill out both fields to edit destination.</h5>
    <form action="/destinations/<%= @dest.id %>" method="post">
      <input type="hidden" id="hidden" name="_method" value="PATCH">

      <label for="city">City: </label>
      <input type="text" name="city" id="city" value="<%= @dest.city %>"><br>

      <label for="country">Country: </label>
      <input type="text" name="country" id="country" value="<%= @dest.country%>"><br>

      <input type="submit" value="Edit Destination">
    </form>

    <br>

    <h5>Would you like to delete this destination?</h5>
    <form action="/destinations/<%= @dest.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Destination?">
    </form>
</div>