<div class="logged-in">
    <h1>List</h1>

    <% if !@destinations.empty? %>
      <ul>
        <% @destinations.each do |dest| %>
          <li>
            <a href="/destinations/<%= dest.id %>" class="list">
              <%= dest.city.upcase %>, <%= dest.country.upcase %>
            </a>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>You haven't added any destinations yet. If you would like to, please click on the "New Destination" link below.</p>
    <% end %>
</div>