<h1>Destination Index</h1>

<% @destinations.each do |dest| %>
  <li>
    <a href="/destinations/<%= dest.id %>">
      <%= dest.city.upcase %>, <%= dest.country.upcase %>
    </a>
  </li>
<% end %>
<br>
<a href="/destinations/new">New Destination</a>