<h1>Destination</h1>

<h3>City: <%= @dest.city.upcase  %></h3>
<h3>Country: <%= @dest.country.upcase  %></h3>

<a href="/users/<%= current_user.id %>" class="footer">User Profile</a>
<a href="/destinations" class="footer">User Destinations</a>
<a href="/experiences" class="footer">User Experiences</a>
<a href="/logout" class="footer">Log Out</a>



