<div class="logged-in">
    <h1>Destination</h1>

    <h3>City: <%= @dest.city.upcase  %></h3>
    <h3>Country: <%= @dest.country.upcase  %></h3>

    <a href="/destinations" class="bttn">User Destinations</a>
</div>


