<h1>Destination</h1>

<h3>City: <%= @dest.city.upcase  %></h3>
<h3>Country: <%= @dest.country.upcase  %></h3>

<a href="/users/<%= current_user.id %>" class="bttn">User Profile</a>
<a href="/destinations" class="bttn">User Destinations</a>
<a href="/logout" class="bttn">Log Out</a>



