<h1>Welcome Bucket Listers!</h1>

<p>We all have things we want to do before we kick the bucket. Here's a place to keep track of those aspirations and record your experiences.</p>

<div>
  <a href="./signup" class="footer">Sign Up</a>
  <a href="./login" class="footer">Login</a>
</div>