<h1>Welcome bucket listers!</h1>

<p>We all have things we want to do before we kick the bucket. Here's a place to keep track of those aspirations and record your experiences.</p>


<a href="./signup">Sign Up</a>
<a href="./login">Log In</a>