<div class="w3-container">
  <h1 class="w3-container">Welcome bucket listers!</h1>

  <p class="w3-container">We all have things we want to do before we kick the bucket. Here's a place to keep track of those aspirations and record your experiences.</p>

  <a href="./signup" class="w3-button w3-black">Sign Up</a>
  <a href="./login" class="w3-button w3-black">Log In</a>
</div>

<br>

<div class="w3-container">
  <div class="w3-row">
    <div class="w3-col s4">
      <img src="imgs/cinthia-aguilar.jpg" style="width:100%">
    </div>

    <div class="w3-col s4">
      <img src="imgs/erica-magugliani.jpg" style="width:100%">
    </div>

    <div class="w3-col s4">
      <img src="imgs/roberto-nickson-2.jpg" style="width:100%">
    </div>
  </div>
</div>