<div class='not-logged-in'>
    <p>Everyone has a list of places they'd love to see before their time is up. Here's a place to keep track of them.</p>

    <div>
        <a href="./signup" class="bttn">Sign Up</a>
        <a href="./login" class="bttn">Login</a>
    </div>
</div>